<html>
    <body>
      <div id = "problem-table">
          <div class="form-inline" align="right">
          </div>
        <table class="table table-striped" id='problems'>
          <thead>
            <tr>
                <th class="student-header" style="width: 60%">Email</th>
            </tr>
          </thead>
          <tbody>
            <% @students.each do |student| %>
            <tr>
              <td> <%= link_to "#{student.email}", student_profile_path(student) %> </td> 
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </body>
</html>

