<h1>Practice Problems</h1>


<table>
	<thead> 
		<tr> 
			<th>Title</th>
			<th>Category</th>
			<th>Difficulty</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% @problems.each do |problem| %>
			<td> <%= link_to "#{problem.title}", problem_path(problem) %> </td>
			<td> <%= problem.category %> </td>
			<td> <%= problem.difficulty %> </td>
			<% end %>	
		</tr>
	</tbody>
</table>
