<h1>Sign In</h1>

<%= form_tag url: '/instructors/login' do %>
  <%= text_field_tag :email, nil, placeholder: 'Email Address' %>
  <p>
  <%= password_field_tag :password, nil, placeholder: 'Password' %>
  <p>
  <%= submit_tag "Sign In", :class => 'btn btn-default ', :type => 'submit' %>
  <P>
<% end %>
