#problem-table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#search-form {
  text-align: right;
  width: 40%;
}

#question-content {
  border-left: 3px solid #ddd;
  padding-left: 20px;
}

.problem-header {
  color: #0088cc;
  font-size: 125%;
}
.problem-header:hover {
  color: black;
  text-decoration: underline;
}

.outer-div {
  width: 80%;
  margin-right: auto;
  margin-left:auto;
}

.inner-left-div {
  float: left;
}

.inner-right-div {
  float: right;
  margin-top: 2.6%;
}

.background-color-tags {
  background-color: #fcf8e3;
}

.background-color-fonts {
  font-size: 125%;
  color: #8a6db;
}

.float-right {
  float: right;
}

.half-width {
  width: 55%;
}

.margin-button {
  margin-top: 1%;
}

.button-font {
  font-family: "Helvetica";
  font-size: 105%;
}

.top-border-change {
  border-top-width: 2px;
}